/* Asegura que html y body ocupen toda la altura de la pantalla */
html, body {
    height: 100%;
    margin: 0; /* Elimina el margen predeterminado del body */
  }
  
  .pantalla {
    height: 87dvh ;
  }